
/*below submitButton used only in mechanical Turk*/ 
#submitButton {
    display: none;
    top: 50%; 
    left: 50%; 
}

.instructions #startExp {
    visibility: hidden; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
    position: relative;
    top: 80%; 
}

.instructions #startDemo{
    font-size: 20px; 
    position: absolute;
    top: 80%; 
    left: 40%; 
}

#manMadeOrNot {
    font-size: 24px; 
    position: absolute; 
    top: 45%; 
    left: 17%; 
}
#correct {
    font-size: 24px; 
    position: absolute; 
    top: 45%; 
    left: 46.5%; 
}

#wrong {
    font-size: 24px; 
    position: absolute; 
    top: 45%; 
    left: 47%; 
}

#statusDIV {
    font-size: 18px; 
    position: absolute; 
    left: 46%;
    top: 94%; 
}

#done {
    font-size: 20px; 
    position: absolute; 
    text-align: center;
    left: 25%; 
    top: 34%; 
}


#backgroundCircle {
    display: none; 
    width: 570px;
    height: 570px;
    left: 50%;
    top: 50%; 
    border-radius: 50%;
    background: rgb(60, 115, 146);
    position: absolute;  
    margin-left: -285px; 
    margin-top: -285px;
}

#searchDisplay {
width: 400px;
height: 400px;
position: absolute;
left: 50%; 
top: 50%; 
margin-left: -200px;
margin-top: -200px;
}

.square {
width: 50px;
height: 50px;
float: left;
}

.dark { background-color:rgb(60, 115, 146); }

.object {
width: 40px;
height: 40px;
border-radius: 20px;
position: absolute;
visibility: hidden; 
}

.center {
position: absolute; 
left: 50%; 
top: 50%; 
margin-top: -200px; 
margin-left: -300px; 
}

#fixationDot {
    visibility: hidden; 
    position: absolute; 
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    background: black; 
    left: 50%; 
    top: 50%; 
}

#fixationBox {
position: absolute; 
left: 50%; 
right: 50%; 
margin-left: -500px; 
}

#warning {
    position: absolute; 
    font-size: 22px; 
    top: 45%; 
}

#box {
    position: absolute; 
    display: none; 
    width: 600px; 
    height: 400px; 
    left:3%; 
    top:19%; 
    background-size: 600px;
}

#box2 {
    position: absolute; 
    display: none; 
    width: 600px; 
    height: 400px; 
    left:50%; 
    top:19%; 
    background-size: 600px;
}

