

#title {
    font-size: 18pt;
    text-align: center;
    margin: 0 auto;
    display: none;
  }
  #consent-title {
      font-size: 18pt;
      text-align: center;
      margin: 0 auto;
    }
    
    #consent-text {
      font-size: 14pt;
      text-align: center;
      margin: 0 auto;
      width: 75%;
    }
    
    #consentButton {
      text-align: center;
      display: none;
    }

    .instr {
      display: none;
      text-align: center;
    }
    
    #instructions {
      display: block;
      max-width: 75%;
      margin: 0 auto;
      margin-top: 0px;
      height: 200px;
    }
  
    .buttonGroup {
      display: none;
      text-align: center;
    }
  
    body {
      font-family: Helvetica,Arial;
      background-color: white;
      color: black;
      font-size: 14pt;
      /* hide scoll bar */
      overflow-y: scroll;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }
  
    #loading {
      font-size: 12pt;
      text-align: center;
    }
    
  #statusDIV {
      font-size: 18px; 
      position: absolute;
      text-align: center;
      left: 50%; 
      margin-left: -100px; 
      top: 94%; 
  }
  
  .center {
  position: absolute; 
  left: 50%; 
  top: 50%; 
  margin-top: -200px; 
  margin-left: -300px; 
  }

  .centerGrayNoise {
    position: absolute; 
    left: 50%; 
    top: 50%; 
    margin-top: -250px; 
    margin-left: -250px; 
    }


  .centerANSWERS {
    position: absolute; 
    left: 50%; 
    top: 50%;

    width: 700px; 
    height: 250 px; 

    margin-top: -150px; 
    margin-left: -350px; 
    padding-top: 25px; 

    text-align: center;
    display:none;
    vertical-align: middle;  
    }

    .radio-toolbar input[type="radio"] {
      opacity: 0;
    }

    .radio-toolbar label {
      display: inline-block;
      background-color: #ddd;
      padding: 5px 20px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid #444;
      border-radius: 4px;
      vertical-align:middle;
      text-align: center;
    }

    .radio-toolbar label:hover {
      background-color: rgb(168, 168, 168);
    }

    .radio-toolbar input[type="radio"]:focus + label {
      border: 2px dashed #444;
    }

    .radio-toolbar input[type="radio"]:checked + label {
      background-color:  rgb(160, 158, 158);
      border-color:  rgb(56, 56, 56);
    }

    .doneTextStyle {
      position: absolute; 
      left: 50%; 
      top: 50%; 
      margin-top: -100px; 
      margin-left: -625px; 
      text-align: center;

    }
  
  #fixationDot {
      visibility: hidden; 
      position: absolute; 
      width: 10px; 
      height: 10px; 
      border-radius: 50%; 
      background: black; 
      left: 50%; 
      top: 50%; 
  }
  
  #fixationBox {
  position: absolute; 
  left: 50%; 
  right: 50%; 
  margin-left: -500px; 
  }
  
  #instruction_box {
    position: absolute; 
    display: none; 
    width: 510px; 
    height: 258.5px; 
    left:50%; 
    top:50%; 
    margin-left: -250px; 
    margin-top: -245px; 
    background-size: 555px;

}

#lateWarning {
  text-align: center;
  font-size: 20px; 
  margin: 10px auto;
}

.clickButton_text {
  display: table;
  vertical-align: center;
  color: black;
  font-size: 14pt;
  border: 3px outset gray;
  background-color: #CCCCCC;
  padding: 8px;
  text-decoration: none;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

  
  
  